[include mainsail.cfg]
[include manta8p.cfg]
[include bigtreetech-ebb-sb-canbus-v1.0.cfg]
[include clean_nozzle.cfg]
[include adaptive_mesh.cfg]
[include sb_led.cfg]

[input_shaper]
shaper_freq_x: 77.2
shaper_type_x: zv
shaper_freq_y: 29.8
shaper_type_y: zv

[heater_bed]
##	SSR Pin - BED_OUT
heater_pin: PB7
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.9
min_temp: 0
max_temp: 130
control: pid
pid_kp: 52.514
pid_ki: 2.161
pid_kd: 319.023

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 22.6789511
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA3
control: pid
pid_Kp: 22.535
pid_Ki: 2.003
pid_Kd: 63.382
min_temp: 0
max_temp: 300

##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 50:10 for SB (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:10				#BMG Gear Ratio
min_extrude_temp: 170
pressure_advance: 0.05

# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2240 extruder]
cs_pin: EBBCan: PA15
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
driver_TPFD: 0
run_current: 0.65
stealthchop_threshold: 0

## NPN and PNP proximity switch types can be set by jumper
[probe]
pin: EBBCan: PB6
x_offset: 0
y_offset: 0
#z_offset: -0.6
#speed: 10.0
#samples: 3
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.006
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.005000, 0.007500, 0.005000
#*# 	  0.007500, 0.000000, 0.010000
#*# 	  0.022500, 0.007500, 0.012500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 158.68
#*# max_x = 191.28
#*# min_y = 165.19
#*# max_y = 184.79
#*#
#*# [probe]
#*# z_offset = -0.600
